<section class="footer">
  <div class="container">
    <div>
      <div class="col-sm-4">
        <h5>turalt</h5>
        <p>Copyright © 2016. All rights reserved<br>
          <a href="/privacy">Privacy</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h5>Products and services</h5>
        <p>
          <a href="#tools">Tools</a><br>
          <a href="#training">Training</a>
        </p>
      </div>
      <div class="col-sm-4">
        <h5>Contact us</h5>
        <p>Email: <a href="mailto:info@turalt.com">info@turalt.com</a><br>
          Tel: <a href="tel:+14165228287">416-522-8287</a>
        </p>
      </div>
    </div>
  </div>
</section>
